.universe img{
    width:40%;
}

.universe p {
    font-size: 0.8rem;
    width:65%;
    text-align: center;
    margin-top:12px;
}

.universe div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}